@font-face {
    font-family: 'Raleway-Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway-Bold'), url('/fonts/Raleway-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Raleway-Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway-Medium'), url('/fonts/Raleway-Medium.woff') format('woff');
  }

  @font-face {
    font-family: 'Raleway-Light';
    font-style: normal;
    font-weight: normal;
    src: local('Raleway-Light'), url('/fonts/Raleway-Light.woff') format('woff');
  }

  @font-face {
    font-family: 'Alegreyasans-black';    
    src: local('Alegreyasans-black'), url('/fonts/Alegreyasans-black.woff') format('woff');
  }
  @font-face {
    font-family: 'Alegreyasans-bold';    
    src: local('Alegreyasans-bold'), url('/fonts/Alegreyasans-bold.woff') format('woff');
  }
  @font-face {
    font-family: 'Alegreyasans-light';    
    src: local('Alegreyasans-light'), url('/fonts/Alegreyasans-light.woff') format('woff');
  }
  
  html, body {
    margin: 0px !important;
    padding: 0px !important;
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-family: Arial;
 }
 
 input:-internal-autofill-selected {
    background-color: #fff !important;
}

.text-center {
    text-align: center;
}
 
.mr-t-50 {
    margin-top: 50px !important;
}
.mr-t-30 {
    margin-top: 30px !important;
}
.mr-t-20 {
    margin-top: 20px !important;
}
.mr-t-15 {
    margin-top: 15px !important;
}
.mr-t-10 {
    margin-top: 10px !important;
}
.mr-b-10 {
    margin-bottom: 10px !important;
}
.mr-b-15 {
    margin-bottom: 15px !important;
}
.mr-b-25 {
    margin-bottom: 25px !important;
}
.mr-b-5 {
    margin-bottom: 5px !important;
}
.mr-l-20 {
    margin-left: 20px;
}
.pd-t-10 {
    padding-top: 10px !important;
}
.pd-b-20 {
    padding-bottom: 20px !important;
}
.pd-b-15 {
    padding-bottom: 15px !important;
}
.pd-r-10 {
    margin-right: 10px;
}


.buttonTransparent {
    border: none;
    margin-left: 10px;
    padding: 20px 0px 2px 0px;
    background: none;
    font-size: 12px;
    cursor: pointer;
    color: #000 !important;
    letter-spacing: 1px;
    font-family: Raleway-Bold;  
}
.buttonTransparent span:hover {
    padding-top: 2px;
    border-bottom: 2px solid rgb(244, 78, 46);
}   
.buttonTransparent a {
    color: #000;
    text-decoration: none;
}     

.buttonOrange {
    border: 2px solid rgb(244, 78, 46);
    background: rgb(244, 78, 46);
    border-radius: 4px;
    padding: 13px 28px;
    font-size: 18px;
    letter-spacing: 0.6px;
    cursor: pointer;
    color: #fff;
    font-weight: 800px;
    font-family: Raleway-Bold; 
}
.buttonOrange:hover {
    border: 2px solid #be2102;
    background: #be2102;
}       


.buttonWhiteSm {
    border: 2px solid rgb(244, 78, 46);
    border-radius: 4px;
    padding: 8px 25px;
    background: #fff;
    font-size: 12px;
    letter-spacing: 0.8px;
    cursor: pointer;
    color: #030303;
    font-family: Raleway-Bold; 
}
.buttonWhiteSm:hover {
    border: 2px solid rgb(244, 78, 46);
    background: rgb(244, 78, 46);
    color: #fff;
}   

.buttonOrangeSm {
    border: 2px solid rgb(244, 78, 46);
    border-radius: 4px;
    padding: 8px 25px;
    background: rgb(244, 78, 46);
    font-size: 12px;
    letter-spacing: 0.8px;
    cursor: pointer;
    color: #fff;
    font-family: Raleway-Bold; 
}
.buttonOrangeSm:hover {
    border: 2px solid rgb(244, 78, 46);
    background: #fff;
    color: rgb(244, 78, 46);
}   


.buttonRightWrap {
    display: flex;
    margin-top: 60px;
    flex-direction: row !important;
    justify-content: flex-end !important;
}
.buttonRightWrap button {
    margin-left: 30px;
    font-family: Raleway-Bold; 
}    
.buttonRightWrap span:hover {
    padding-top: 2px;
    border-bottom: 2px solid rgb(244, 78, 46);
}

.pdT10 {
    padding-top: 10px;
}
.pdT20 {
    padding-top: 20px !important; 
}
.pdB20 {
    padding-bottom: 20px;
}
.wrapRecipes {
    width: 80%;
    margin: auto;  
    @media (max-width:1348px) { 
        width: 80%;
    }
    @media (max-width:1200px) { 
        width: 90%;
    }
}

.wrapRecipeSm {
    @media (max-width:846px) { 
        width: 80% !important;
    } 
    @media (max-width:736px) { 
        margin-top: -110px !important;
    } 
}

div.wrapRecipe {
    padding-right: 300px;
    @media (max-width:1024px) { 
        padding-right: 0px;
        margin-top: -30px;
    }
    @media (max-width:733px) { 
        margin-top: -130px;
    }
}

.wrapRecipes  h2 {
    text-align: center;
    letter-spacing: 0.01px;
    font-size: 43px;
    margin: 50px auto 10px;
    padding: 0px;
    font-family: Alegreyasans-bold;
}

.rowsRecipes {
    display: flex;  
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;   
    flex-direction: row;
}


.rowsRecipes div {
    margin: 15px 15px;
    padding-bottom: 0px;
    border: solid 1px rgba(0,0,0,.15);
    width: 22%;
    min-height: 420px;
    @media (max-width:1000px) { 
        width: 40%;
    }
    @media (max-width:620px) { 
        width: 80%;
    }
}

.rowsRecipes div.a {
    text-decoration: none;
    color: rgba(0,0,0,.95);
    font-size: 26px;
    line-height: 32px;    
    border-bottom: solid 1px #fff;            
}

.rowsRecipes img {
    width: 100%;
    max-height: 220px;
    @media (max-width:1000px) { 
        width: 100%;
        max-height: 250px;
    }
    @media (max-width:1000px) { 
        width: 100%;
        height: auto;
        max-height: 500px;
       min-height: auto;
    }
}

.rowsRecipes div.span {
    padding: 5px 15px 0px 0px; 
    display: inline-block;
    color: rgb(211, 28, 3);
    font-size: 24px;
}

.rowsRecipes span {    
    padding: 0px 15px;
    border: none !important; 
    min-height: auto;
}
span.title {
    display: block;
    margin: 10px 0px;
    min-height: 90px;
}
.title a {
    letter-spacing: 0px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.95);
    font-size: 26px;
    line-height: 32px;
    border-bottom: 1px solid rgb(255, 255, 255);
    font-family: Alegreyasans-bold;
}

.title a:hover { 
    border-bottom: solid 1px rgb(244, 78, 46);
}

.type { 
    display: block;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: rgb(102, 102, 102);
    font-size: 12px;
    font-family: Raleway-Bold;
}

.rating_stars {  
    display: block;
    margin-top: 10px;
    color: rgb(211, 28, 3);
    font-size: 24px;
}
span.rating_stars_list span {
    padding: 0px !important;
}
span.rating_stars_list a {
    display: none;
}
.rating { 
    padding-left: 0px;
    color: rgb(102, 102, 102);
    font-size: 12px;
    font-family: Raleway-Medium;
}

.headerRecipe h1 {
    text-align: center;
    font-size: 57px;
    font-weight: 800;
    margin-bottom: -5px;
    padding: 0px;
    font-family: Alegreyasans-bold;
}

.headerRecipe p {
    font-size: 16px;
    letter-spacing: 0.08px;
    width: 100%;
    text-align: center;
    color: rgb(102, 102, 102);
    text-decoration: none;
    font-family: Raleway-Medium;
}

.typeRecipe {
    display: flex;
    flex-flow: wrap;
    width: 100%;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 10px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.95);
    font-family: Raleway-Bold;
}
.typeRecipe a {
    font-size: 13px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    font-family: Raleway-Bold;
    color: rgba(0, 0, 0, 0.95);
    text-decoration: none;
    padding-bottom: 2px;
}

.typeRecipe a:hover {
    border-bottom: solid 1px rgb(244, 78, 46);
}

.typeRecipe div {
    padding: 12px 30px;
    text-align: center;
}

.recipe_title {
    position: relative;
    top: -7px;
    padding: 0px;
}

.text-blue-600, .text-blue-400 {
    color: rgb(244, 78, 46 ) !important;
}  

.bg-blue-600,  .bg-blue-400 {
    background-color: rgb(156 163 175) !important;
}
button.relative {
    color: #fff !important;
}
.img-prev img {
    height: 100px;
}

.img-prev button {
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 20px 0px 0px 0px;
    background: none;
    font-size: 12px;
    cursor: pointer;
    color: #000 !important;
    letter-spacing: 1px;
    font-family: Raleway-Bold;  
    border-bottom: 2px solid;
    border-color:  #fff;
}
.img-prev  button:hover {
    border-color: rgb(244, 78, 46);
    
}   
.img-prev a {
    color: #000;
    text-decoration: none;
} 
.text-bold {
    font-weight: 800;
}

.text-raleway-bold {
font-size: 14px;
letter-spacing: 0.8px;
font-family: Raleway-Bold;
}


.registrationLink div {
    margin: 40px 0 0 0;
}
.registrationLink  p {
        font-size: 14px;
        line-height: 28px;
        letter-spacing: 0.1px;
        color: rgb(102, 102, 102);
        font-family: Raleway-Medium; 
}
        
.registrationLink  a {
        color: rgb(102, 102, 102);
        font-weight: bold;
    }
.registrationLink span {        
        cursor: pointer;
        font-weight: bold;
    }
    .registrationLink  span:hover {        
        cursor: pointer;
        padding-bottom: 1px; 
        border-bottom: 1px solid rgb(244, 78, 46);
    }

div.addRecipeWrap  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
}
div.addRecipes {
    display: block;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.3);
    padding: 25px 35px 40px;
    margin: 0 auto;
    width: 640px;
    text-align: left;
    font-family: Raleway-Medium; 
    @media (max-width:768px) { 
        width: 85%;
        box-shadow: none;
    } 
}
.addRecipes h1 {
        padding-bottom: 10px;    
        margin-left: 25px;
        margin-bottom: 5px;
        font-size: 46px;
        font-weight: 800;
        box-shadow: inset 0 -28px 0 0 #d4fbad;
        display: inline-block;
        font-family: Alegreyasans-bold;
        @media (max-width:768px) { 
            font-size: 36px;
        } 
} 


/* .addRecipes h1:before {
            background: linear-gradient(to bottom, transparent 35%, rgb(244, 78, 46) 35%, rgb(244, 78, 46) 65%, transparent 65%),linear-gradient(to right, transparent 35%, rgb(244, 78, 46) 35%, rgb(244, 78, 46) 65%, transparent 65%);
            content: "";
            position: absolute;
            width: 25px;
            height: 25px;
            margin-top: 36px;
            z-index: -1;
        } */
        

.addRecipes h2 {
        font-size: 18px;
        line-height: 0px;
        padding-top: 30px;
        padding-bottom: 20px;
        font-family: Alegreyasans-bold; 
}
.addRecipes p {
        line-height: 24px;
        font-size: 14px;
}
div.addRecipeHeader  {    
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

.addRecipeHeader input {    
        width: 100%;
        padding: 15px 0px;
        margin-bottom: 15px;
        @media (max-width:768px) { 
            width: 100%;
        } 
}
.addRecipeNote {
    width: 100%;
    margin-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}
.addRecipeNote textarea {
        width: 100%;
        height: 100px;
        padding: 15px 0px 0px 0px;
        margin-bottom: 15px;
}

.addRecipeNote textarea::placeholder {
    padding: 0px 0px 0px 15px;
}
div.addRecipeNote textarea {
    width: 100%;
    height: 100px;
    padding: 15px 0px;
    margin-bottom: 15px;
    @media (max-width:768px) { 
        width: 100%;
    } 
}

div.addIngredients  {
    margin: 0px 0px 20px 0px;
    padding: 0px 0 0px 0;
    font-family: Raleway-Medium; 
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}
div.addIngredients  li {
        margin-bottom: 15px;
    }

div.addIngredients  label p {
        font-size: 14px;
        font-weight: normal !important;
    }
div.addIngredients  p {
        padding: 0 0 10px 0;
        margin: 0;
        font-size: 14px;
        line-height: 20px;
    }
div.addIngredients  img {
        cursor: pointer;
    }    

.ingredientsList div {
    margin-bottom: 20px;
    padding: 20px 20px 20px 0;
    background-color: #f5f6ea !important;
    font-family: Raleway-Medium; 
}
div.ingredientsList h3 {
        color: rgba(0,0,0,.95);
        font-size: 20px;
        line-height: 0px;
        padding: 15px 35px 20px 35px;
        cursor: crosshair;
}
div.ingredientsList li {
        margin: 0px;
        padding: 15px 35px 15px 35px;
        cursor: crosshair;
}
div.ingredientsList p {
        line-height: 10px;
        width: 90%;
        margin: 20px 15px 0px 35px;
        padding: 0px;
        cursor: pointer;
        word-break: normal;
        line-height: 20px;
        cursor: crosshair;
}

.ingredientsList img {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 150px;
}
.addRecipeIngredients div {
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0 0px 0;
}
.addRecipeIngredients div input {
    width: 85%;
}
.addRecipeIngredients div p {
        line-height: 20px;
}


.ingredientsGroup div{
    margin-top: 35px;
}
div.ingredientsGroup input {
    width: 90%;
    padding: 15px;
}
div.ingredientsGroup div{
    margin-top: 35px;
} 

.ingredientsGroupP p {
    margin-top: 50px;
    width: 100%;
}
        
button.buttonTransparent  {
        border: none;
        margin-left: 10px;
        padding: 20px 0px 2px 0px;
        background: none;
        font-size: 12px;
        cursor: pointer;
        color: #000 !important;
        letter-spacing: 1px;
        font-family: Raleway-Bold; 
}
.buttonTransparent span:hover {
    padding-top: 2px;
    border-bottom: 2px solid rgb(244, 78, 46);
}   
.buttonTransparent a {
    color: #000;
    text-decoration: none;
} 


div.cookingRecipe  {
    background-color: #f5f6ea;
    font-family: Raleway-Medium; 
}
.cookingRecipe h3 {
        font-size: 20px;
        line-height: 0px;
        padding: 35px 35px 20px 35px;
}
.cookingRecipe p {
        line-height: 24px;
        margin: 0px;
        padding: 15px 20px 15px 35px !important;
    }
.cookingRecipe img {
        padding: 10px 20px 10px 35px;
    }
.cookingRecipe input {
        width: 85%;
    }


div.addRecipeCooking {
    justify-content: center;
    width: 100%;
    padding: 0px 0px 0px 0px;
    margin: 25px 0 20px 0;
}

.addRecipeCooking div p {
        line-height: 20px;
    }
div.addCathegory {
    margin-top: 30px;
    width: 100%;
}
div.addCathegory div {
        padding: 0px;
        margin-bottom: 20px;
}
div.addCathegory p {
        line-height: 20px;
    }
    div.addCathegory .custom-checkbox {
        z-index: -1;
        opacity: 0;
        margin: 0 0 15px -10px;
        padding: 0;
      }
      div.addCathegory .custom-checkbox+label {
        display: inline-flex;
        align-items: center;
        user-select: none;
      }
      div.addCathegory .custom-checkbox+label::before {
        content: '';
        display: inline-block;
        width: 0.9em;
        height: 0.9em;
        flex-shrink: 0;
        flex-grow: 0;
        border: 2px solid #adb5bd;
        border-radius: 1em;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 60% 60%;
        margin-right: 15px
      }
      div.addCathegory  .custom-checkbox:checked+label::before {
        border-color: rgb(244, 78, 46);
        background-color: #fff;
        background-image: url("/checkbox.png");
      }
      div.addCathegory  .custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
        border-color: rgb(244, 78, 46);
        }
        div.addCathegory  .custom-checkbox:not(:disabled):active+label::before {
        background-color: #fff;
        border-color: rgb(244, 78, 46);
        }
         div.addCathegory .custom-checkbox:focus+label::before {
        box-shadow: 0 0 0 0.2rem #fcccbe;
        }
        div.addCathegory  .custom-checkbox:focus:not(:checked)+label::before {
        border-color: rgb(244, 78, 46);
        }
        div.addCathegory  .custom-checkbox:disabled+label::before {
        background-color: #e9ecef;
        }


div.selectRecipe  {
    margin: 2px 0 15px 0;
}
div.selectRecipe  select {
        display: block; 
        font-size: 16px; 
        font-family: sans-serif; 
        color: #444; 
        line-height: 1.3; 
        padding: 12px 30px; 
        width: 50%; 
        max-width: 100%; 
        box-sizing: border-box; 
        margin: 0; 
        border: 1px solid #aaa;
        box-shadow: 0 1px 0 1px rgba(0,0,0,.04); 
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        background-color: #fff; 
        background-image: url(''); 
        background-repeat: no-repeat, repeat;
        background-position: right .7em top 50%, 0 0;
        background-size: .65em auto, 100%; 
        margin-top: 15px;
        margin-bottom: 0px;
    }
    div.selectRecipe  select::-ms-expand { display: none; } 
    div.selectRecipe  select:hover { border-color: #888; } 
    div.selectRecipe  select:focus { border-color: #aaa; 
        box-shadow: 0 0 1px 3px #fcccbe;;
        box-shadow: 0 0 0 3px -moz-mac-focusring; 
        color: #222;
        outline: none; 
    }     


label.switch  {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
    }    
    label.switch  input {display:none;}    
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }    
    input:checked + .slider {
        background-color: rgb(244, 78, 46);
    }
    
    input:focus + .slider {
        box-shadow: 0 0 1px rgb(211, 28, 3);
    }    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }    
    .slider.round {
        border-radius: 34px;
    }    
    .slider.round:before {
        border-radius: 50%;
    }

button {
    border: none;
    background: none;
}

div.buttonWhite {
    margin-top: 0px !important;
    display: block !important;
    width: auto;
}

.buttonWhite button {
    display: block;
    width: auto !important;
    min-width: auto;
    border: 2px solid rgb(244, 78, 46);
    border-radius: 4px;
    padding: 16px 26px;
    background: #fff;
    font-size: 12px;
    letter-spacing: 0.8px;
    cursor: pointer;
    color: #030303;
    font-family: Alegreyasans-bold;
}
.buttonWhite button:hover {
    border: 2px solid rgb(244, 78, 46);
    background: rgb(244, 78, 46);
    color: #fff;
}  
input.buttonWhite  {
    width: auto !important;
    min-width: auto;
    border: 2px solid rgb(244, 78, 46);
    border-radius: 4px;
    padding: 16px 26px;
    background: #fff;
    font-size: 12px;
    letter-spacing: 0.8px;
    cursor: pointer;
    color: #030303;
    font-family: Alegreyasans-bold;
}


input.input_file {
    visibility: hidden !important;
    height: 0px !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 0px !important;
    border: 0px !important
}


.main_img_form input {
    width: auto;
    border: 2px solid rgb(244, 78, 46);
    border-radius: 4px;
    padding: 16px 26px;
    background: #fff;
    font-size: 12px;
    letter-spacing: 0.8px;
    cursor: pointer;
    color: #030303;
    font-family: Alegreyasans-bold;
    text-align: left;
}
.main_img_form input:hover {
    border: 2px solid rgb(244, 78, 46);
    background: rgb(244, 78, 46);
    color: #fff;
}

.main_img_form label {
    margin: 0px;
    padding: 0px;
}


.addImg img {
    margin: 20px 0px;
    height: 110px !important;
    width: 110px !important;
}

input#file.mainImgInput , button.mainImgInput{
    border: none !important; 
    background: none !important;   
}

#file :hover {
    border: none !important;  
    background: none !important;  
}

.recipeText div {
    padding: 20px 20px 20px 0;
    background-color: #f5f6ea !important;
    font-family: Raleway-Medium; 
}
div.recipeText h3 {
        color: rgba(0,0,0,.95);
        font-size: 20px;
        line-height: 0px;
        padding: 15px 35px 20px 35px;
        cursor: crosshair;
}
div.recipeText li {
        margin: 0px;
        padding: 15px 35px 15px 35px;
        cursor: crosshair;
}
div.recipeText p {
        line-height: 10px;
        width: 90%;
        margin: 20px 15px 0px 35px;
        padding: 0px 0 15px 0;
        cursor: pointer;
        word-break: normal;
        line-height: 20px;
        cursor: crosshair;
}

div.recipeText img {
    margin: 20px 15px 20px 35px;
    width: 120px;
}
a.linkGray {
    color: #030303;
}
img.mainImgAva {
    width: 100px !important
}
.addMainImg img {
    padding-right: 20px;
    max-width: 200px;
}
img.img_main {
    width: 100%;
}
div.addMainImg  {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}
.addMainImg div p {
    line-height: 20px;
    padding-bottom: 15px;
}
img.addMainImg  {
    padding-right: 20px;
    max-width: 100px;
}
div.error {
    color: #f44e2e;
    font-size: 12px;
}

.mainImg div {
    display: flex;

}
.mainImg div p {
    line-height: 20px;
}
.mainImg img {
    padding-right: 20px;
    width: 120px;
}

div.accountTopInfo {
    width: 100% !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}







 